<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body{
            padding: 10px 40%;
        }
    </style>
</head>
<body>
    <h1>Đặt lại mật khẩu </h1>
    <h3>username:  <%= username %></h3>
    <% if(message){ %>
        <span style="color:red;"><%= message %></span>
    <% } %>
    <form action="/api/v1/account/update-password/<%= username %> " method= 'post' enctype="multipart/form-data">
    <label for="password">Password: </label><br/>
    <input type="password" id="password" name="password"><br/>
    <label for="confirm-password">Confirm password: </label><br/>
    <input type="password" id="confirm-password" name="confirm-password"><br/>
    <button type="submit" > Cập nhật </button>
    </form>
</body>
</html>