.wrapper {
}
.container {
}

.categoryBar {
	font-size: 22px;
	background: rgb(119 199 254);
	padding: 10px 20px;
	color: #fff;
	min-width: 100%;
	max-height: 44px;
	margin-bottom: 20px;
	h2 {
		font-weight: 500;
		line-height: 1.1;
		flex: 1;
	}
	div {
		font-size: 12px;
		font-weight: 700;
	}
	div:hover {
		opacity: 0.8;
		cursor: pointer;
	}
	.btn-icon {
		width: 18px;
		height: 18px;
	}
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 5px;
}
